:root {
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans";
  color: #3c3c3b;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
}
a {
  text-decoration: none;
  color: inherit;
}
li {
  list-style-type: none;
}
.container {
  max-width: 1460px;
  padding: 0 10px;
  margin: 0 auto;
}
.default-btn {
  color: #ffffff;
  background-color: #3c3c3b;
  padding: 13px 19px;
  border: 1px solid #000000;
  box-shadow: 0px 5px 15px -3px rgba(15, 179, 175, 0.18);
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.5s;
}
.default-btn:hover {
  background-color: black;
}
.default-title {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 35px;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__list-item + .header__list-item {
  margin-left: 32px;
}
.header__list-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
	background-image: linear-gradient(
    to right,
    black,
    black 50%,
    #000 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}
.header__list-link:hover {
	background-position: 0;
}
.header__list-link:hover::before{
  width: 100%;
}
.header__list-link:before{
  content: '';
  background: black;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}
.toTop {
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #f2f2f2;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(5px);
  cursor: pointer;
  text-decoration: none;
  opacity: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
}
.toTop::before {
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-top: 3px solid black;
  border-left: 3px solid black;
  transform: rotate(45deg);
  left: 14px;
  top: 19.2px;
  transition: all 0.3s ease-out;
}
.toTop:hover {
  background-color: black;
}
.toTop:hover::before {
  border-color: #fff;
}
.toTop.active {
  bottom: 32px;
  opacity: 1;
}
.maintitle {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-shadow: -1px 3px 2px rgba(0, 0, 0, 0.42);
}
.maintitle_text {
  background-image: url("../img/our-proj-bg.png");
  height: 407px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects_main {
  display: flex;
  margin-top: 107px;
  padding-left: 96px;
  padding-right: 96px;
  justify-content: space-between;
  flex-wrap: wrap;
}
.projects_main_classes {
  max-width: 375px;
  margin-bottom: 108px;
}
.projects_main_classes h3 {
  font-family: "Maven Pro";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  padding-left: 16px;
  color: #3c3c3b;
  margin-bottom: 17px;
}
.projects_main_classes p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  letter-spacing: 0.02em;
  padding-left: 16px;

  color: #3c3c3b;
}
.projects_main_classes img {
  margin-bottom: 30px;
}

.footer {
}
.footer__inner {
	display: flex;
	padding: 73px 80px 0 80px;
	justify-content: space-between;
}
.footer__logo {
	margin-right: 165px;
	padding-top: 83px;
}
.footer__logo-logo {

}
.footer__logo-desc {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	letter-spacing: 0.02em;
	color: #3C3C3B;
	max-width: 250px;
	width: 100%;
}
.footer__list {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
.footer__list-item {
	max-width: 200px;
	width: 100%;
}
.footer__list-item + .footer__list-item{
	margin-left: 165px;
}
.footer__list-item-title {
	font-family: 'Maven Pro';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	color: #3C3C3B;
	margin-bottom: 24px;
}
.footer__list-item-link {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	line-height: 23px;
	color: #3C3C3B;
	margin-bottom: 19px;
}
.footer__list-item--icons .footer__list-item-link{
	position: relative;
	padding-left: 34px;
}
.footer__list-item--icons .footer__list-item-link::before{
	content: '';
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	background-repeat: no-repeat;
}
.footer__list-item--icons .footer__list-item-link:nth-child(2)::before{
	background-image: url('../img/footer-icon-1.png');
}
.footer__list-item--icons .footer__list-item-link:nth-child(3)::before{
	background-image: url('../img/footer-icon-2.png');
}
.footer__list-item--icons .footer__list-item-link:nth-child(4)::before{
	background-image: url('../img/footer-icon-3.png');
}
.footer__rights{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 27px;
	height: 76px;
	border-top: 1px solid gray;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #3C3C3B;
}